services:
  reverse-proxy:
    # The official v3 Traefik docker image
    image: traefik:v3.4
    container_name: reverse-proxy
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker --entrypoints.web.address=:80
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
  stirling-pdf:
    image: frooodle/s-pdf:latest
    container_name: pdf
    volumes:
      - ./stirling-pdf/logs:/logs/
      - ./stirling-pdf/trainingData:/usr/share/tessdata
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stirling.rule=Host(`pdf.localhost`)"
      - "traefik.http.routers.stirling.entrypoints=web"
      - "traefik.http.services.stirling.loadbalancer.server.port=8080"
    restart: unless-stopped
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    env_file:
      - ./cloudflare/.env
    volumes:
      - ./cloudflare:/etc/cloudflared
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - type: bind
        source: /mnt/e/YT_Vids/
        target: /media
        read_only: true
      - type: bind
        source: /mnt/c/Users/Admin/Music
        target: /music
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.localhost`)"
      - "traefik.http.routers.jellyfin.entrypoints=web"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
    restart: 'unless-stopped'
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  glance:
    image: glanceapp/glance
    container_name: glance
    volumes:
      -  ./glance/glance.yaml:/app/glance.yml
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.glance.rule=Host(`glance.localhost`)"
      - "traefik.http.routers.glance.entrypoints=web"
      - "traefik.http.services.glance.loadbalancer.server.port=8080"
    restart: unless-stopped
  it-tools:
    image: sharevb/it-tools:latest
    container_name: it-tools
    volumes:
      - ./it-tools/tools-filter.json:/usr/share/nginx/html/tools-filter.json
    pull_policy: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tools.rule=Host(`tools.localhost`)"
      - "traefik.http.routers.tools.entrypoints=web"
      - "traefik.http.services.tools.loadbalancer.server.port=8080"
    restart: unless-stopped
  homebox:
    image: ghcr.io/sysadminsmedia/homebox:latest
    container_name: homebox
    restart: always
    environment:
    - HBOX_LOG_LEVEL=info
    - HBOX_LOG_FORMAT=text
    - HBOX_WEB_MAX_FILE_UPLOAD=10
    - HBOX_OPTIONS_ALLOW_ANALYTICS=false
    volumes:
      - homebox-data:/data/
    ports:
      - 3100:7745
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homebox.rule=Host(`homebox.localhost`) || Host(`homebox.thu4n.dev`)"
      - "traefik.http.routers.homebox.entrypoints=web"
      - "traefik.http.services.homebox.loadbalancer.server.port=7745"
  # Keep this here for troubleshooting
  whoami:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami.entrypoints=web"
volumes:
   homebox-data:
     driver: local
